logs
target
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID
sqlite/amiko_db_full_idx_de.db
sqlite/amiko_db_full_idx_fr.db
*.clear
rose/rose_db_new_full.db
rose/rose_auth_keys.txt
/cockpit/*.json