swagger: '2.0'
info:
  description: |
    API for Smart order
  version: 1.0.0
  title: Smart Order
  license:
    name: GPLv3
    url: http://www.gnu.org/licenses/
schemes:
- http
- https
host: so.zurrose.ch
basePath: /

securityDefinitions:
  authkey:
    type: apiKey
    name: authkey
    in: query

paths:
  /gtin:
    get:
      parameters:
      - in: query
        name: gtin
        type: string
        required: true
      produces:
        - application/json
      responses:
        200:
          description: ""
          schema:
            type: array
            items:
              $ref: '#/definitions/RoseArticleWithAlternatives'

  /smart/full:
    get:
      security:
      - authkey: []
      produces:
        - application/json
      parameters:
        - in: query
          name: pretty
          type: string
          default: "off"
        - in: query
          name: glncode
          type: string
          required: true
        - in: query
          name: basket
          type: string
          required: false
        - in: query
          name: nota
          type: string
          required: false
          description: |
            Either "de" or "fr"
      responses:
        200:
          description: ''
          schema:
            $ref: '#/definitions/RoseOrder'
    post:
      security:
      - authkey: []
      produces:
        - application/json
      consumes:
        - application/x-www-form-urlencoded
      parameters:
        - in: formData
          name: pretty
          type: string
          default: "off"
        - in: formData
          name: glncode
          type: string
          required: true
        - in: formData
          name: basket
          type: string
          required: false
        - in: formData
          name: nota
          type: string
          required: false
          description: |
            Either "de" or "fr"
      responses:
        200:
          description: ''
          schema:
            $ref: '#/definitions/RoseOrder'

  /cockpit/chargenrueckrufe_de.json:
    get:
      security:
      - authkey: []
      produces:
        - application/json
      responses:
        200:
          description: ''
          schema:
            type: array
            items:
              $ref: '#/definitions/Chargenrueckrufe_de'

  /cockpit/chargenrueckrufe_fr.json:
    get:
      security:
      - authkey: []
      produces:
        - application/json
      responses:
        200:
          description: ''
          schema:
            type: array
            items:
              $ref: '#/definitions/Chargenrueckrufe_fr'
  /cockpit/dhcp_hcp_de.json:
    get:
      security:
      - authkey: []
      produces:
        - application/json
      responses:
        200:
          description: ''
          schema:
            type: array
            items:
              $ref: '#/definitions/Dhcp_hcp_de'

  /cockpit/dhcp_hcp_fr.json:
    get:
      security:
      - authkey: []
      produces:
        - application/json
      responses:
        200:
          description: ''
          schema:
            type: array
            items:
              $ref: '#/definitions/Dhcp_hcp_fr'

  /cockpit/drugshortage.json:
    get:
      security:
      - authkey: []
      produces:
        - application/json
      responses:
        200:
          description: ''
          schema:
            type: array
            items:
              $ref: '#/definitions/DrugStorage'

definitions:
  RoseArticleWithAlternatives:
    allOf:
    - $ref: '#/definitions/RoseArticle'
    - type: object
      required:
        - alternatives
      properties:
        alternatives:
          type: array
          items:
            $ref: '#/definitions/RoseArticle'
  RoseArticle:
    type: object
    additionalProperties: false
    required:
      - gtin
      - pharma
      - title
      - title_FR
      - replaces_article
      - core_assort
      - supplier
      - quantity
      - swissmed
      - rose_price
      - public_price
      - prefs
      - avail_date
      - shipping
      - off_market
      - dlk_flag
      - npl
      - is_nota
      - nota_status
      - last_order
      - alt
    properties:
      gtin:
        type: string
      pharma:
        type: string
      title:
        type: string
      title_FR:
        type: string
      replaces_article:
        type: string
      core_assort:
        type: string
      supplier:
        type: string
      quantity:
        type: integer
      swissmed:
        type: string
        description: |
          A comma separated list of the following values. All of them are optional.
          - Category: A / B / C / D / E
          - BioT (Biotechnologica according to Swissmedic)
          - SL
          - LIM[limitationPoints]
          - SB 20% / SB 10%
          - O / G / K
        example: E, SL, LIM20, SB 20%, G
      rose_price:
        type: number
      public_price:
        type: number
      prefs:
        type: string
        description: |
          Either an empty string or "ZRP"
      avail_date:
        type: string
      shipping:
        type: string
        enum:
          - green
          - gold
          - orange
          - red
          - black
      off_market:
        type: boolean
      dlk_flag:
        type: boolean
      npl:
        type: boolean
      is_nota:
        type: boolean
      nota_status:
        type: string
      last_order:
        type: string
      alt:
        type: integer
  RoseOrder:
    type: object
    additionalProperties: false
    required:
      - hash
      - time
      - glncode
      - order
    properties:
      hash:
        type: string
      time:
        type: string
      glncode:
        type: string
      order:
        type: array
        items:
          $ref: '#/definitions/RoseArticleWithAlternatives'

  Chargenrueckrufe_de:
    'type': object
    'properties': 
      '_id': 
        'type': string
        'format': integer
      'title': 
        'type': string
      'url': 
        'type': string
        'format': uri
      'date': 
        'type': string
        'format': date
      'type': 
        'type': string
      'lang': 
        'type': string
      'desc': 
        'type': string
      'pdf': 
        'type': string
        'format': uri
      'prep': 
        'type': array
        'items': 
          'type': object
  Chargenrueckrufe_fr:
    'type': object
    'properties': 
      '_id': 
        'type': string
        'format': integer
      'title': 
        'type': string
      'url': 
        'type': string
        'format': uri
      'date': 
        'type': string
        'format': date
      'type': 
        'type': string
      'lang': 
        'type': string
      'desc': 
        'type': string
      'pdf': 
        'type': string
        'format': uri
      'prep': 
        'type': array
        'items': 
          'type': object
  Dhcp_hcp_de:
    'type': object
    'properties': 
      '_id': 
        'type': string
        'format': integer
      'title': 
        'type': string
      'url': 
        'type': string
        'format': uri
      'date': 
        'type': string
        'format': date
      'type': 
        'type': string
      'lang': 
        'type': string
      'desc': 
        'type': string
      'pdf': 
        'type': string
        'format': uri
      'prep': 
        'type': array
        'items': 
          'type': object
  Dhcp_hcp_fr:
    'type': object
    'properties': 
      '_id': 
        'type': string
        'format': integer
      'title': 
        'type': string
      'url': 
        'type': string
        'format': uri
      'date': 
        'type': string
        'format': date
      'type': 
        'type': string
      'lang': 
        'type': string
      'desc': 
        'type': string
      'pdf': 
        'type': string
        'format': uri
      'prep': 
        'type': array
        'items': 
          'type': object
  DrugStorage:
    'type': object
    'properties': 
      'id': 
        'type': string
        'format': integer
      'bezeichnung': 
        'type': string
      'detailsLink': 
        'type': string
        'format': uri
      'gtin': 
        'type': string
        'format': integer
      'pharmacode': 
        'type': string
        'format': integer
      'firma': 
        'type': string
      'datumLetzteMutation': 
        'type': string
        'format': date
      'tageSeitErsterMeldung': 
        'type': string
        'format': date
      'status': 
        'type': string
      'datumLieferfahigkeit': 
        'type': string
        'format': date
      'company': 
        'type': object
        'properties': 
          'Bewertung': 
            'type': integer
          'Firma': 
            'type': string
          'Anzahl registrierte Produkte Total': 
            'type': integer
          'Anzahl offene Engpässe': 
            'type': integer
      'colorCode': 
        'type': object
        'properties': 
          '#': 
            'type': integer
          'Bewertung': 
            'type': string
          'Art der Meldung': 
            'type': string
