swagger: '2.0'
info:
  description: |
    API for Smart order
  version: 1.0.0
  title: Smart Order
  license:
    name: GPLv3
    url: http://www.gnu.org/licenses/
schemes:
- http
- https
host: so.zurrose.ch
basePath: /

securityDefinitions:
  authkey:
    type: apiKey
    name: authkey
    in: query

paths:
  /gtin:
    get:
      parameters:
      - in: query
        name: gtin
        type: string
        required: true
      produces:
        - application/json
      responses:
        200:
          description: ""
          schema:
            type: array
            items:
              $ref: '#/definitions/RoseArticleWithAlternatives'

  /smart/full:
    get:
      security:
      - authkey: []
      produces:
        - application/json
      parameters:
        - in: query
          name: pretty
          type: string
          default: "off"
        - in: query
          name: glncode
          type: string
          required: true
        - in: query
          name: basket
          type: string
          required: false
        - in: query
          name: nota
          type: string
          required: false
          description: |
            Either "de" or "fr"
      responses:
        200:
          description: ''
          schema:
            $ref: '#/definitions/RoseOrder'

  /cockpit/chargenrueckrufe_de.json:
    get:
      security:
      - authkey: []
      produces:
        - application/json
      responses:
        200:
          description: ''
          schema:
            type: array
            items:
              $ref: '#/definitions/Chargenrueckrufe'

  /cockpit/chargenrueckrufe_fr.json:
    get:
      security:
      - authkey: []
      produces:
        - application/json
      responses:
        200:
          description: ''
          schema:
            type: array
            items:
              $ref: '#/definitions/Chargenrueckrufe'
  /cockpit/dhcp_hcp_de.json:
    get:
      security:
      - authkey: []
      produces:
        - application/json
      responses:
        200:
          description: ''
          schema:
            type: array
            items:
              $ref: '#/definitions/Chargenrueckrufe'

  /cockpit/dhcp_hcp_fr.json:
    get:
      security:
      - authkey: []
      produces:
        - application/json
      responses:
        200:
          description: ''
          schema:
            type: array
            items:
              $ref: '#/definitions/Chargenrueckrufe'

  /cockpit/drugshortage.json:
    get:
      security:
      - authkey: []
      produces:
        - application/json
      responses:
        200:
          description: ''
          schema:
            type: array
            items:
              $ref: '#/definitions/DrugStorage'

definitions:
  RoseArticleWithAlternatives:
    allOf:
    - $ref: '#/definitions/RoseArticle'
    - type: object
      required:
        - alternatives
      properties:
        alternatives:
          type: array
          items:
            $ref: '#/definitions/RoseArticle'
  RoseArticle:
    type: object
    additionalProperties: false
    required:
      - gtin
      - pharma
      - title
      - title_FR
      - replaces_article
      - core_assort
      - supplier
      - quantity
      - swissmed
      - rose_price
      - public_price
      - prefs
      - avail_date
      - shipping
      - off_market
      - dlk_flag
      - npl
      - is_nota
      - nota_status
      - last_order
      - alt
    properties:
      gtin:
        type: string
      pharma:
        type: string
      title:
        type: string
      title_FR:
        type: string
      replaces_article:
        type: string
      core_assort:
        type: string
      supplier:
        type: string
      quantity:
        type: integer
      swissmed:
        type: string
      rose_price:
        type: number
      public_price:
        type: number
      prefs:
        type: string
      avail_date:
        type: string
      shipping:
        type: string
      off_market:
        type: boolean
      dlk_flag:
        type: boolean
      npl:
        type: boolean
      is_nota:
        type: boolean
      nota_status:
        type: string
      last_order:
        type: string
      alt:
        type: integer
  RoseOrder:
    type: object
    additionalProperties: false
    required:
      - hash
      - time
      - glncode
      - order
    properties:
      hash:
        type: string
      time:
        type: string
      glncode:
        type: string
      order:
        type: array
        items:
          $ref: '#/definitions/RoseArticleWithAlternatives'

  Chargenrueckrufe:
    type: object
    additionalProperties: false
    required:
      - _id
      - title
      - url
      - date
      - type
      - lang
      - desc
      - pdf
      - prep
    properties:
      _id:
        type: string
      title:
        type: string
      url:
        type: string
        format: uri
      date:
        type: string
        format: "dd.mm.yyyy"
      type:
        type: string
      lang:
        type: string
      desc:
        type: string
      pdf:
        type: string
        format: uri
      prep:
        type: array
        items:
          type: object
          additionalProperties: false
          required:
            - prop
            - field
          properties:
            prop:
              type: string
            field:
              type: string

  DrugStorage:
    type: object
    required:
      - id
      - bezeichnung
      - detailsLink
      - gtin
      - pharmacode
      - firma
      - datumLetzteMutation
      - tageSeitSrsterMeldung
      - status
      - datumLieferfahigkeit
    properties:
      id:
        type: integer
      bezeichnung:
        type: string
      detailsLink:
        type: string
        format: uri
      gtin:
        type: string
      pharmacode:
        type: string
      firma:
        type: string
      datumLetzteMutation:
        type: string
        format: "dd.mm.yyyy"
      tageSeitSrsterMeldung:
        type: string
      status:
        type: string
      datumLieferfahigkeit:
        type: string